body {
    font-family: 'acumin-pro', sans-serif;
    font-size:14px;
    background-color: #FFF !important;
    margin-bottom: 85px !important;
   /*  font-family: 'wpsmicomoon';
    src:url('fonts/wpsmicomoon.eot?-n2fq81');
    src:url('fonts/wpsmicomoon.eot?#iefix-n2fq81') format('embedded-opentype'),
        url('fonts/wpsmicomoon.woff?-n2fq81') format('woff'),
        url('fonts/wpsmicomoon.ttf?-n2fq81') format('truetype'),
        url('fonts/wpsmicomoon.svg?-n2fq81#wpsmicomoon') format('svg');
    font-weight: normal;
    font-style: normal; */
}

textarea {
	width: 100%;
	resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} */

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

h1 {
    color: #FFF;
}

.badge {
    height: 100%;
}

.jumbotron {
    background-color: #000000;
}

.jumbotron p {
    color: #FFF;
}

.navbar-dark.bg-dark {
    background-color: #000000 !important;
}

.footer {
  /* position: absolute; */
    height: 65px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #999;
    font-family: 'acumin-pro';
    font-size: 16px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer a {
    color: #999;
    font-size: 16px;
}

.footer div {
    display: inline-block;
}

#pp_frame {
    background-color: #FFF !important;
    font-family: 'acumin-pro', sans-serif;
}

#profile_picture {
    display: none;
    border-radius: 36px;
    height: 100%;
    width: 100%;
    margin-right: 15px;
    object-fit: cover;
}

#button_profile_picture {
    display: none;
    border-radius: 36px;
    height: 100%;
    width: 100%;
    margin-right: 15px;
    object-fit: cover;
}

#full_name {
	font-size: 20px;
}

#ppdiv {
    width: 100%;
    background-color: #f2f2f2 !important;
}

#profile_section {
    background-color: #f2f2f2 !important;
}

#ppnum {
	height: 100px;
    width: 100px;
    display: inline-block;
    alignment-baseline: center;
}

#justification {
	height: 100%;
	width: 100%;
    background-color: #FFF !important;
}

#image_div {
	width: 15%;
}

#form_div {
	width: 85%
}

#pptitle {
	width: 100%;
/* 	height: 20%; */
}

.col-lg-12 .justify-content-start {
	white-space: nowrap;
}

.form-group {
	display: inline-block;
}

.form- {
	display: inline-block;
}

.p-2 .flex-column {
	height: 70%;
}
