textarea {
	width: 100%;
	resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#profile_picture {
    display: none;
    border-radius: 36px;
    height: 100%;
    width: 100%;
    margin-right: 15px;
    object-fit: cover;
}

#full_name {
	font-size: 20px;
}

#ppdiv {
    width: 100%;

}

#ppnum {
	height: 100px;
    width: 100px;
    display: inline-block;
    alignment-baseline: center;
}

#justification {
	height: 100%;
	width: 100%;
}

#image_div {
	width: 15%;
}

#form_div {
	width: 85%
}

#pptitle {
	width: 100%;
/* 	height: 20%; */
}

.col-lg-12 .justify-content-start {
	white-space: nowrap;
}

.form-group {
	display: inline-block;
}

.form- {
	display: inline-block;
}

.p-2 .flex-column {
	height: 70%;
}
